@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .container {
                text-align: center;
            }

            .about-us-section {
                margin-top: 200px;
                margin-bottom: 300px;
            }

            h2 {
                font-weight: 300;
                color: #fff;
                font-size: 60px;
                margin-right: 60px;
                text-align: center;
            }

            .image-div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 30px;
                margin-top: 20px; 
            }

            .column {
                width: 23%;
                margin-bottom: 20px;
            }

            .image {
                width: 100%;
                height: auto;
            }

            .content {
                font-family: "Roboto", Arial, sans-serif;
                background: #fff;
                font-size: 20px;
                line-height: 1.8;
                font-weight: bold;
                color: black;
            }

                .content p {
                    margin: 0;
                }

                .content h5 {
                    color: gray;
                }

                    .content h5.author {
                        color: #1fb6fc;
                    }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="about-us-section">
                <h2>Blog</h2>
            </div>
        </div>
        <br />
    <br />
    <br />
    <br />
        <div class="image-div">
            
            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_1.jpg.webp" alt="Explore 1">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_2.jpg.webp" alt="Explore 2">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_3.jpg.webp" alt="Explore 3">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_4.jpg.webp" alt="Explore 4">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>
            
            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_5.jpg.webp" alt="Explore 5">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_6.jpg.webp" alt="Explore 6">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_7.jpg.webp" alt="Explore 7">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>

            <div class="column">
                <img class="image" src="https://preview.colorlib.com/theme/unbrew/images/image_8.jpg.webp" alt="Explore 8">
                <div class="content">
                    <p>Explore the Best Restaurant in New York</p>
                    <h5>Dec. 05,2020 by</h5>
                    <h5 class="author">Johan Stevenson</h5>
                </div>
            </div>
            

        </div>

    </body>


    